<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ward Form</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <form action="#" th:action="@{/ward/form}" th:object="${ward}" method="post">
        <table border="1">
            <tbody>
                <tr>
                    <td>Ward Code</td>
                    <td><input type="text" th:field="*{code}" /></td>
                    <td th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code Error</td>
                </tr>
                <tr>
                    <td>Ward Name</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td colspan="3" align="center">
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </body>
</html>
