<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ward List</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Ward List</h1>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="w : ${wardList}">
                    <td th:text="${w.code}">code</td>
                    <td th:text="${w.name}"></td>
                    <td>
                        VIEW|EDIT|DELETE
                    </td>
                </tr>
              </tbody>
        </table>
    </body>
</html>
